

.header h2 { 

    font-family: Arial, Helvetica, sans-serif;
    font-size: large; 
}

.hesder p {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: medium;
}

.main h3 {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer {
background-color: rgb(58, 61, 61);
padding: 1cm;
}